
#card1{
    border-bottom: 2px solid rgb(60, 212, 60);
    background-color: rgb(161, 236, 183);
    font-style: italic;
    font-size: large;
}
#card2{
    margin-left: 15px;
    border-bottom: 2px solid red;
    font-style: italic;
    font-size: large;
    background-color: rgb(240, 194, 193);
}
#card3{
    margin-left: 15px;
    font-size: large;
    font-style: italic;
    border-bottom: 2px solid rgb(79, 126, 214);
    background-color: rgb(153, 200, 238);
}

