
*{
    margin: 0;
    padding:0;
}

.main{
    height: 100vh;
    background-color: #e5edf2;
    display: flex;
    justify-content: center;
   
}
.container{
    border-radius: 3px;
    position: relative;  
    height: 90%;
    background-color: #f1f8fd;
    width: 90%;
   margin: 30px;
   box-shadow: 20px 20px 30px 0 rgba(0,0,0,0.1);
    
}
#test{
    margin: 0;
    line-height: 32px;
    font-size: 16px;
    color: #222e51;
}